* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;

}

.container {
    max-width: 600px;
    min-width: 450px;
    background: linear-gradient(45deg, #FF9F4A, #FF3C83);
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
    border-radius: 13px;
}

#result {
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
}

#resultImoj {
    text-align: center;
    font-size: 5rem;
}

.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-input input {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}

button {
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 1.5rem;
    color: aliceblue;
    background: linear-gradient(45deg, #DB0B5F, #6F00ED);
    cursor: pointer;
    transition: all 1s ease-in-out;
}

button:hover {
    background: linear-gradient(134deg, #DB0B5F, #6F00ED, #6F00ED, #DB0B5F);

}

.store {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.d-none {
    display: none;
}

@media only screen and (max-width:688px) {
    body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 100%;
        padding: 1rem;
    }

    .user-input input {
        width: 80%;
    }

    #result {
        font-size: 1.5rem;
    }
}